body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #651C32;
}

h1 {
    color: #ffffff;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #341e0d;
    color: white;
}
